.color-nav{
    background-color: rgb(44, 62, 80);
}

.col-6-home{
    background-color: rgb(186, 75, 99);
}
.col-6-cake{
    background-color: rgb(30, 164, 182);
}
.col-6-tend{
    background-color: rgb(20, 15, 15);
}
.col-6-game{
    background-color: rgb(28, 131, 193);
}
.col-6-safe{
    background-color: rgb(14, 56, 181);
}
.col-6-sub{
    background-color: rgb(204, 178, 163);
}